body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}
.close{
    display: none; /* hide x on menu */
}

img {
  max-width: 100%;
}

/* .wrapper */

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top {
/*   display: grid; */
  grid-gap: 20px;
  /* set initial grid layout for top */
}

.cta1 {
  /* set grid-area */
  
}

.cta2 {
  /* set grid-area */
}

.hero {
  /* set grid-area */
  min-height: 400px;
  background: white url(images/taco.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero > * {
  background: var(--yellow);
  padding: 5px;
}

.cta {
  background: var(--yellow);
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.cta p {
  margin: 0;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

/* Navigation */

.menu ul {
/*   display: grid; */
/* add grid RAM min of 100px */
  grid-gap: 10px;
  padding: 0;
  list-style: none;

    
  
}

.menu a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}


/* Features! */

.features {
  display: grid;
  grid-gap: 20px;
 /* add grid RAM with 200px min. */
}

.feature {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
}

.feature .icon {
  font-size: 50px;
}
.feature p {
  color: rgba(0,0,0,0.5);
}

/* About Section */

.about {
  background: white;
  padding:50px;
  
  /*display: grid;*/
  
}

/* Gallery! */

.gallery {
/*   display: grid; */
  grid-gap: 20px;
  /* add grid RAM with min 200px. */
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  /* use grid columns to places insta grams across top of gallery */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
}

.gallery h2:after {
  --direction: right;
}


/* at maxwidth 700px */
/* change top layout */
/* change about layout */


/* at maxwidth 500px */
/* change top layout */


